body {
  padding-top: 50px;
  font: normal 14px/2 Arial, Helvetica,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","HiraKakuPro-W3","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-family: Arial, Helvetica, メイリオ, Meiryo, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', HiraKakuPro-W3, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.question-content {
  padding: 40px 15px;
  text-align: left;
}

#index-banners {
  background: url(./img/content-bg.jpg) repeat center top;
}
